# Frontend envs
VITE_WBOT_TOKEN
VITE_WHATS_APP

# Server envs
BETTER_AUTH_SECRET
BETTER_AUTH_URL
GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET
ALLOWED_EMAILS

IMG_BB_API_KEY

# Send mail
SEND_MAIL_USER
SEND_MAIL_PASSWORD
SEND_MAIL_TO
SEND_MAIL_HOST
SEND_MAIL_PORT

# Prismic
PRISMIC_ENDPOINT
PRISMIC_ACCESS_TOKEN
